/* articles section */
#articles::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#articles {
  width: 1250px;
  margin: 0 auto;
}

.left {
  float: left;
  width: 80%;
}

.right {
  float: right;
  width: 20%;
}

.article-item {
  width: calc(33.33% - 40px);
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 15px;
}

.border {
  width: 94%;
  height: 1px;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
  margin-top: 5px;
}

.section-1 h4 {
  font-size: 14px;
}

.right h4 {
  font-size: 14px;
}

.right li {
  margin: 10px 0 10px 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.border-color {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.article-item time {
  font-size: 10px;
  margin: 0;
}

.article-item img {
  width: 100%;
}

.article-item figure {
  margin: 0;
  font-size: 11px;
}

.article-item figcaption {
  text-align: right;
}

.article-item h5 {
  margin: 0 0 5px 0;
}

.section-2 {
  position: relative;
}
