* {
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
}
/* nav bar */
.navigation {
  position: fixed;
  height: 43px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 999;
}
#nav-parent {
  position: relative;
  width: 100%;
}
#nav-left {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-top: 10px;
}
#nav-left :nth-child(3) {
  display: inline-block;
}
.left-side {
  height: 100%;
  width: 40px;
  display: inline-block;
  margin-right: 5px;
}
.change {
  height: 100%;
  width: 30px;
  display: inline-block;
  margin-right: 12px;
}
#nav-left i {
  width: 100%;
  text-align: center;
  font-size: 15px;
}
#nav-left a {
  font-size: 12.5px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}
#nav-middle {
  display: inline-block;
  width: 195px;
  height: 25.64px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  left: 0;
  right: 0;
}
#nav-right {
  display: inline-block;
  margin-right: 30px;
  position: absolute;
  right: 0;
  padding-top: 4px;
}
#nav-right button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  height: 32px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 4px;
}
/* Header */
header {
  width: 800px;
  /* height: 300px; */
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px;
  text-align: center;
}

#headline {
  text-align: start;
  width: 65%;
  margin: 0 auto;
}

#headline :nth-child(2) {
  margin-top: 10px;
}

#headline > h1 {
  font-size: 30px;
  font-family: "Domine", serif;
  font-style: italic;
}
.image-pic > img {
  width: 100%;
}

.image-pic figcaption > span {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.small-text {
  font-size: small;
  color: gray;
}
/* main */
.float-left {
  float: left;
  width: 70%;
  border: 1px solid black;
  padding-left: 22%;
}

.float-left p {
  font-size: 1.5rem;
}

.float-right {
  float: right;
  width: 30%;
  height: 100%;
  border: 1px solid black;
}
.float-container::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.author {
  padding-left: 22%;
  height: 70px;
}

.right-side-icons {
  height: 50px;
  display: inline-block;
  height: 27px;
  left: 30%;
  position: relative;
  top: -5px;
}

.right-side-icons > * {
  display: inline-block;
  position: relative;
  margin-right: 6px;
}

.links-pages {
  height: 50px;
}

.date {
  float: left;
  font-size: 12px;
}

.icon {
  background: #dddcdc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.back {
  background: transparent;
}

.facebook-icon {
  position: absolute;
  left: 9px;
  top: 5px;
}

.twiter-icon {
  position: absolute;
  left: 7px;
  top: 7px;
}

.email-icon {
  position: absolute;
  left: 4px;
  top: 7px;
  right: 3px;
}

.share-icon {
  position: absolute;
  left: 4px;
  top: 5px;
  right: 3px;
}

.article-icon {
  position: absolute;
  left: 7px;
}

.main-section {
  width: 1200px;
  margin: 0 auto;
}

/* iframe */
#inflation {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

#inflation img {
  width: 100%;
}

.first-para-container {
  position: absolute;
  top: 32%;
}
.first-para-container div {
  float: left;
  width: 25%;
  padding-right: 5%;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
}
.second-para-container {
  position: absolute;
  top: 74%;
}

.second-para-container div {
  float: left;
  width: 25%;
  padding-right: 3%;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
}
hr {
  width: 8%;
  border-color: black;
  border-width: 0.5px;
  float: left;
}

.inflation-author {
  clear: both;
  margin-top: 25px;
  color: #333;
}

#inflation span {
  font-weight: bold;
  margin-right: 0.8em;
}
.inflation-font-style {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
}

#inflation > p {
  color: #666;
  font-size: 18px;
}

/* asside part */
.signup-science {
  width: 200px;
  height: 200px;
  margin: 65% auto;
}

.signup-science span {
  font-size: 12px;
  font-weight: lighter;
}

.signup-science h4 {
  margin-bottom: 5px;
}

.signup-science button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  color: white;
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.editors-picks {
  width: 250px;
  height: 200px;
  margin: 0 auto;
}

.editors-picks h4 {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 12px;
}
.editors-picks li {
  width: 100%;
  clear: both;
  height: 8em;
  padding-bottom: 20px;
  font-size: 18px;
}
.editors-picks li > img {
  width: 50%;
  float: left;
  height: 100%;
  margin-right: 8px;
}
.editors-picks li > div {
  height: 100%;
}

.paid-post-font {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(240, 236, 236);
  padding: 12px;
  font-size: 13px;
}
.paid-post-bold {
  font-weight: bold;
}
#paid-post-img {
  height: 85%;
  width: 45%;
  padding: 12px;
}
/* end asside part */

/* video */

.youtube-video {
  margin-left: 22%;
  width: 575px;
  height: 324px;
}

#standford {
  margin-left: 22%;
  display: block;
  width: 48%;
  font-size: 14px;
  color: gray;
}

#standford > span {
  font-size: smaller;
}

/* end video */

.image-midle {
  margin-left: 20%;
  width: 576px;
}

.image-midle + figcaption {
  width: 558px;
  margin-left: 20%;
  font-size: 12px;
  font-weight: lighter;
  color: #8a8888;
}
