/* video */
.youtube-video {
  margin-left: 22%;
  width: 575px;
  height: 324px;
}

#standford {
  margin-left: 22%;
  display: block;
  width: 48%;
  font-size: 14px;
  color: gray;
}

#standford > span {
  font-size: smaller;
}

/* end video */
